.about-pic {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-top: 30px;
  justify-content: space-between;
  align-self: center;
  align-content: center;
  margin-left: 10%;
}
.imagen-about {
  width: 40%;
  height: 700px;
  margin: 20px;
  margin-top: 70px;
  object-fit: cover;
}
@media (min-width: 768px) and (max-width: 1024px) {
    .imagen-about {
        display: none;
      }
}

@media (max-width: 767px) {
    .imagen-about {
    display: none;
  }
}
